/* Contenedor general */
.graduacion-container {
    -fx-padding: 15;
}

/* Encabezados */
.grad-header {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

/* OD y OI */
.grad-eye {
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

/* Campos */
.graduacion-grid .text-field {
    -fx-pref-height: 35;
    -fx-background-radius: 6;
}

/* Separación visual */
.separator {
    -fx-padding: 10 0 0 0;
}

/* Contenedor */
.info-cards-container{
    -fx-padding:15 0 25 0;
}

/* Tarjeta */
.info-card{
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-min-width: 150;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 15, 0.2, 0, 4);
}

/*Numero Grande*/
.info-value {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

/* TEXTO PEQUEÑO */
.info-title {
    -fx-font-size: 12px;
    -fx-text-fill: #7f8c8d;
}