.root{
    -fx-font-family: "segoe UI", "Arial";
    /*-fx-background-color: linear-gradient(to bottom right, #eef2f7,#dfe6ee);*/
    -fx-background-color: red;
}

/* HEADER*/
.header-bar {
    -fx-background-color: white;
    -fx-padding: 15 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 10, 0, 0, 4);
}

.header-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

/* PANEL IZQUIERDO*/

.form-panel{
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 6);
}

.form-title{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.form-label{
    -fx-text-fill: #2c3e50;
    -fx-font-size: 13px;
}

/* INPUTS */

.text-field{
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #dcdde1;
    -fx-background-color: #fdfdfd;
    -fx-padding: 0 10;
}

.text-field:focused{
    -fx-border-color: #2ecc71;
    -fx-border-width: 2;
    -fx-background-color: white;
}

.label{
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}

/* CHECKBOX */
.checkbox{
    -fx-text-fill: #2c3e50;
}

/* CHECKBOX */
.combo-box{
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font-size: 14px;
    
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: white;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-padding: 4 0 4 0;
}

.combo-box:focused{
    -fx-border-color: #2ecc71;
    -fx-border-width: 2;
}

.combo-box .list-cell{
    -fx-padding: 8 10 8 10;
}

.combo-box .arrow-button{
    -fx-padding: 0 10 0 10;
}

.combo-box .arrow{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/* BOTONES */

.btn-primary{
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.btn-primary:hover{ -fx-background-color:#27ae60; }

.btn-secondary{
    -fx-background-color: #bdc3c7;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.btn-secondary:hover { -fx-background-color: #95a5a6; }

.btn-danger {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}
.btn-danger:hover { -fx-background-color: #c0392b; }

/* PANEL TABLA */
.table-panel {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 6);
}

/* BUSCADOR */
.search-field {
    -fx-pref-height: 36;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #dcdde1;
    -fx-padding: 0 10;
}

.search_bar {
    -fx-padding: 10 15 10 15;
    -fx-background-color: #f5f7fa;
    -fx-background-radius: 8;
}

.btn-search {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-background-radius:6;
    -fx-font-weight:bold;
}

.btn-search:hover{
    -fx-background-color:#27ae60;
}

.split-pane-divider{
    -fx-background-color:#dcdde1;
    -fx-padding: 0 2 0 2;
}


/*se agregaron para la nueva Vista de la tabla*/
.table-view{
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
    -fx-table-cell-border-color: transparent !important;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.table-view .column-header-background{
    -fx-background-color: #f7f9fc !important;
    -fx-border-color: transparent transparent #e0e6ed transparent !important;
}

.table-view .column-header .label{
    -fx-text-fill: #6b7c93 !important;
    -fx-font-weight: bold !important;
    -fx-font-size: 13px !important;
}

/*botonos dentro de la tabla*/

.btn-table-edit{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-min-width: 28;
    -fx-min-height: 28;
    -fx-cursor: hand;
}

.btn-table-edit:hover {
    -fx-background-color: #2980b9;
}

.btn-table-delete {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-min-width: 28;
    -fx-min-height: 28;
    -fx-cursor: hand;
}

.btn-table-delete:hover {
    -fx-background-color: #c0392b;
}

/*Fondo General*/
.table-view .virtual-flow .clipped-container .sheet{
    -fx-background-color: transparent !important;
}

/*Fondo Cuando no Hay Filas*/
.table-view .placeholder .label{
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 14px;
}

.table-row-cell{
    -fx-background-color: white !important;
    -fx-border-color: transparent transparent #eef1f5 transparent !important;
    -fx-background-insets: 4 10 4 10;   /* separa filas tipo tarjeta */
    -fx-background-radius: 8;
    -fx-padding: 8 0 8 0;
}

/* FILA HOVER */
.table-row-cell:hover {
    -fx-background-color: #f5f9ff !important;
}

/* FILA SELECCIONADA */
.table-row-cell:filled:selected {
    -fx-background-color: #e8f2ff !important;
}

.table-cell{
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: transparent !important;
    -fx-padding: 10 8 10 8;
    -fx-font-size: 13px;
}